.cards {
    display: flex;
    justify-content: center;
    font-family: "Neuton", serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    font-family: "Neuton", serif;
    font-size: 11px;
    background-color: #ffffff;
    border-radius: 10px;
}


.card_produto {
    width: 292px;
    height: 445px;
    background: linear-gradient(178deg, rgba(229, 124, 32, 1) 50%, rgba(137, 29, 19, 1) 100%);
    border-radius: 30px;
    padding: 30px 10px;
    margin-bottom: 133px;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    /* margin: 70px; */
    text-align: center;
    font-size: 10px;
    box-shadow: 0 4px 4px 2px #00000025;
    background-color: #ffffff;
}

.div_img{
    display: flex;
    align-items: flex-end;
    height: 180px;
    width: 250px;
}

.sessao_card4 .div_img img{
    width: 280px;
}

.descricao {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 275px;
    height: 60px;
}

 .cards p{
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
}

span{
    font-size: 24px;
    font-weight: 600;
    margin-top: -60px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 93px;
}