.iconedefundo_cardapio .secao_cards{
    width: calc(100%-360px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    background-image: url("../../assets/Fundo\ do\ Layout\ \(1\).png");
}

.card_categoria{
    margin: 50px 0;
    height: 360px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px 10px 40px 10px;
    justify-content: start;
    align-items: center ;
    font-size: 20px;
    box-shadow: 0 0 40px 2px #00000075;
    width: 260px;
    background: linear-gradient(178deg,rgba(229, 124, 32, 1) 0%, rgba(137, 29, 19, 1) 100%);
    gap: 1rem;
}

.plus{
    position: relative;
    top: 10px;
    right: -100px;
    width: 50px;
}

h2{
    color: #000000;
    position: absolute;
    font-size: 18px;
    background-color: #ffffff;
    padding: 14px  ;
    height: 50px;
    border-radius: 10px;
}
